@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,500;16..144,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}


html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--background-bleu-gris);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-noir);
}
:root{
    --background : #EEEEEE;
    --background-bleu-gris : #384454;
    --background-bleu-gris-70 : rgba(56, 68, 84, 0.7) ;
    --background-bleu-gris-90 : rgba(56, 68, 84, 0.9) ;
    --bouton : #384454;
    --bouton-hover : #E1A624;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;
    --text-gris-bleu : #384454 ;
    --text-jaune : #E1A624;
    --couleur-marron : #AD956B;
}
body{
    background-color: var(--background);
}
.benvenue-admin{
    width: 85%;
    margin: 50px auto 50px;
    padding-left: 10px;
}
.conteneur-tableau-admin{
    width: 85%;
    height: auto;
    margin: 50px auto 100px;
    border: 1px solid black;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}
.header-tableau{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.header-tableau *:not(input){
    cursor: pointer;
}
.liste-produit{
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
   padding: 5px 20px;  
   margin-left: 20px;
}
.liste-produit p{
    font-weight: 700;
}
.search-produit{
    display: flex;
    align-items:center;
    gap: 10px;
    padding: 10px 20px;
    margin-right: 20px;
}
.search-produit input{
    border: 1px solid black;
    border-radius: 6px;
}
.btn-ajouter{
    margin-left: 50px;
    margin-top: 15px;
}


/* PARTIE TABLEAU */

table{
    width: 96%;
    border: 2px solid black;
    margin: 20px auto;
    border-collapse: collapse;
    z-index: 1;
}
th,td{
    border: 2px solid rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
th{
    background-color: var(--background-bleu-gris-90);
    color: var(--text-blanc);
}
td{
    background-color: white;
}
.colonne-img{
    width: 20%;
}
.colonne-produit{
    width: 30%;
}
.colonne-prixQ{
    width: 15%;
}
.colonne-modSupp{
    width: 10%;
}
.icon-modif, .icon-supp{
    padding-top: 10px;
    transition: transform 0.3s ease;
}
.icon-modif:hover, .icon-supp:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.img-produit{
    margin-top: 10px;
    transition: transform 0.4s ease;
}
.img-produit:hover{
    transform: scale(2);
    cursor: pointer;
}

/* ICON CLASSEMENT ASC DESC */

.ASC-icon{
    margin-left: 10px;
}

/* LISTE DEROULANTE  */

.liste-produit-deroulant{
    position: absolute;
    top: 100%;
    left: -20px;
    width: 300px;
    max-height: 350px;
    overflow-y: scroll;
    border-radius: 6px;
    z-index: 10;
    background-color: var(--background-bleu-gris);
    color: var(--text-blanc);
}
.liste-produit-deroulant li{
    padding: 10px;
}
.liste-produit-deroulant li:hover{
    background-color: #13335a;
}