@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,500;16..144,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}


html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--background-bleu-gris);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-noir);
}
:root{
    --background : #EEEEEE;
    --background-bleu-gris : #384454;
    --background-bleu-gris-70 : rgba(56, 68, 84, 0.7) ;
    --background-bleu-gris-90 : rgba(56, 68, 84, 0.9) ;
    --bouton : #E1A624;
    --bouton-hover : #c32626;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;
    --text-gris-bleu : #384454 ;
    --text-jaune : #E1A624;
    --couleur-marron : #AD956B;
}

/* INPUT DE RECHERCHE */

.input-search{
    display: flex;
    position: absolute;
    align-items: center;
    top: -4vh;
    left: 10px;
    gap: 10px;
    padding: 10px;
    background: linear-gradient(to bottom right, rgba(50,50,50,0.9), rgba(54, 97, 124,0.9) , rgba(155, 225, 230,0.9) );
    color: var(--text-blanc);
    border-radius: 10px;
    z-index: 5;
}
.input-search input{
    padding-left: 10px;
    border-radius: 4px;
}

.conteneur-card{
    width: 98%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 16%;
    column-gap: 10px;
    position: relative;
}
.conteneur-card2{
    width: 98%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    column-gap: 10px;
    position: relative;
}
.conteneur-block{
    width: 25%;
    border: 1px solid black;
    height: 400px;
    position: relative;
    margin: 50px 50px;
    background: linear-gradient(to bottom right, rgba(50,50,50,0.9), rgba(54, 97, 124,0.9) , rgba(155, 225, 230,0.9) );
    color: var(--text-blanc);
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--background-bleu-gris);
    font-size: 0.7rem;
    transition: transform 0.4s ease;
}

.conteneur-block:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.coeur{
    position: absolute;
    top: 5%;
    left:  5%;
    width: 12%;
}
/* PARTIE IMAGE PRINCIPALE */
.voiture{
    position: absolute;
    right: -20%;
    top: -11%;
    width: 85%;
    height: 320px;
    z-index: 1;
}
.figurine{
    position: absolute;
    right: -10%;
    top: -15%;
    width: 90%;
    height: 330px;
}
.piece{
    position: absolute;
    right: -10%;
    top: -15%;
    width: 90%;
    height: 320px;
}

/* PARTIE NOM DU PRODUIT */
.nom{
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 1vw;
    line-height: 2rem;
    width: 60%;
}
.nom:hover{
    text-decoration: underline;
}
.nomBis{
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 18px;
}

/* PARTIE PREMIER CARRE INFORMATIF COULEUR,MATIERE,METAL */
.palette{
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    width: 21%;
    height: 80px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    font-weight: bold;
}
.palette img{
    width: 40px;
    padding-top: 10px;
}


/* PARTIE CALENDRIER + ANNEE */
.calendrier{
    position: absolute;
    bottom: 5%;
    left: 25%;
    display: flex;
    flex-direction: column;
    width: 21%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 15px;
}
.calendrier img{
    height: 50px;
    padding-top: 10px;
}


/* PARTIE VOLANT + CASQUE + STATUETTE + € */
.volant{
    position: absolute;
    bottom: 5%;
    left: 45%;
    display: flex;
    flex-direction: column;
    width: 21%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 30px;
}
.volant img{
    width: 35px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/*  PARTIE PANIER */
.panier{
    position: absolute;
    bottom: 15%;
    right: -10%;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-marron);
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    z-index: 10;
}
.panier img{
    height: 55px;
    padding-top: 5px;
    padding-right: 5px;
}
.panier:hover{
    transform: scale(1.1);
    background-color: #6b5a3c;
    cursor: pointer;
}

/* PARTIE RESPONSIVE  PETIT ECRAN*/
@media screen and (max-width : 1280px) {
    .conteneur-block{
        width: 24%;
        font-size: 0.9vw;
    }   
    .conteneur-card{
        justify-content: space-evenly;
    }
}

@media screen and (max-width : 1024px)  {
    .conteneur-block{
        width: 25%;
        font-size: 0.9vw;
        margin: 30px 40px 30px 15px;
    } 
    .conteneur-card{
        margin-top: 16%;
        justify-content: space-between;
    }
    .voiture{
        right: -20%;
        top: -15%;
        width: 95%;
        height: 300px;
    }
    .nom{
        font-size: 1.4vw;
        line-height: 1.6rem;
        width: 70%;
        z-index: 2;
    }
    .panier{
        bottom: 17%;
        width: 70px;
        height: 80px;
    }
    .panier img{
        height: 50px;
        padding-top: 5px;
        padding-right: 5px;
    }  
    .input-search{
        top: -5vh;
        left: 65vw;
        height: 4.5vh;
    }
}

@media screen and (max-width : 1024px) and (max-height : 600px) {
    .conteneur-block{
        width: 25%;
        font-size: 0.9vw;
        margin: 30px 40px 30px 15px;
    } 
    .voiture{
        right: -20%;
        top: -15%;
        width: 95%;
        height: 300px;
    }
    .panier{
        bottom: 17%;
        width: 70px;
        height: 80px;
    }
    .panier img{
        height: 50px;
        padding-top: 5px;
        padding-right: 5px;
    }  
    .input-search{
        top: -9vh;
        left: 65vw;
        height: 9vh;
    }
}

/* RESPONSIVE IPAD TABLETTE */
@media screen and (max-width : 820px) {
    .conteneur-block{
        width: 40%;
        font-size: 1.3vw;
        margin: 30px 40px 30px 15px;
    } 
    .voiture{
        right: -20%;
        top: -15%;
        width: 95%;
        height: 300px;
    }
    .panier{
        width: 80px;
        height: 80px;
    }
    .panier img{
        height: 55px;
    }  
    .nom{
        font-size: 1.8vw;
        line-height: 2rem;
        width: 65%;
        z-index: 2;
    }
    .input-search{
        top: -4vh;
        left: 63vw;
        height: 4vh;
    }
    .input-search input{
        height: 2.5vh;
        width: 20vw;
    }
}

/* RESPONSIVE TELEPHONE */
@media screen and (max-width : 767px) {
    .conteneur-block{
        width: 80%;
        font-size: 2.4vw;
        margin: 30px 40px 30px 30px;
    }   .conteneur-card{
        margin-top: 22%;
    }

    .panier{
        width: 90px;
        height: 80px;
    }
    .panier img{
        height: 55px;
    }  
    .nom{
        font-size: 4vw;
    }
    .input-search{
        top: -3vh;
        left: 58vw;
        height: 3.2vh;
        font-size: 2.5vw;
    }
    .input-search input{
        height: 2vh;
        width: 20vw;
        font-size: 2.2vw;
        padding-left: 2px;
    }
}