@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,500;16..144,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}


html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--background-bleu-gris);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-noir);
}
:root{
    --background : #EEEEEE;
    --background-bleu-gris : #384454;
    --background-bleu-gris-70 : rgba(56, 68, 84, 0.7) ;
    --background-bleu-gris-90 : rgba(56, 68, 84, 0.9) ;
    --bouton : #E1A624;
    --bouton-hover : #c32626;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;
    --text-gris-bleu : #384454 ;
    --text-jaune : #E1A624;
    --couleur-marron : #AD956B;
}



/* CONTENEUR DE L'IMAGE ET DES CATEGORIES */
.container-menuCard{
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
}


/* IMAGE DE FOND FLOUTER */
.background-image{
    width: 100%;
    height: 100%;
    background-image: url('../Image/slider/aston-slider.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(6px);
}
/* PARTIE AU DESSUS DE L'IMAGE */
.overlay-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
/* CONTENEUR DE LA DIV .MAP */
.categorie-menu{
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

/* Conteneur des DIV , H2 et P */
.menuCard h2{
    margin-top: 150px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    font-size: 180%;
    text-decoration: underline;
    text-align: center;
}

.menuCard div p{
    width: 16%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: rgb(236, 236, 236);
    transition: transform 0.3s ease, color 0.3s ease;
}
.menuCard a{
    color: inherit;
}
.menuCard div p:hover{
    color: var(--couleur-marron);
    transform: scale(1.1);
    cursor: pointer;
}

/* PARTIE MENU BURGER */
.burger-icon{
    display: none;
    margin-left: 20px;
}
.burger-icon:hover{
    cursor: pointer;
}
.liste-burger-deroulant{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    height: 300px;
    column-gap: 50px;
    row-gap: 15px;
    background-color: var(--background-bleu-gris);
    border-radius: 10px;
    color: var(--text-blanc);
}
.liste-burger-deroulant *{
    width: 25%;
    font-size: 12px;
    color: white;
}
.liste-burger-deroulant *:hover{
    color: var(--couleur-marron);
}

/* DIV ENTRE DEUX COMPONENT POUR ESPACER LES COMPONENTS */
.Invisible{
    height: 50px;
    z-index: 1;
}

/* PARTIE RESPONSIVE */

@media screen and (max-width: 1800px){
    .menuCard div p{
        width: 20%;
        font-size: 18px;
    }
}
@media screen and (max-width: 1590px){
    .menuCard div p{
        width: 20%;
        font-size: 18px;
    }
    
}

@media screen and (max-width: 1100px){
    .menuCard div p{
        width: 25%;
        font-size: 16px;
    }
    .container-menuCard{
        height: 420px;
    }
}
@media screen and (max-width: 900px){
    .container-menuCard{
        height: 430px;
    }
    .menuCard div p{
        width: 30%;
        font-size: 16px;
    }
}
@media screen and (max-width: 760px){
    .container-menuCard {
        display: none;
    }
    .burger-icon{
        display: block;
    }
}

