@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,500;16..144,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}


html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--background-bleu-gris);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-noir);
}
:root{
    --background : #EEEEEE;
    --background-bleu-gris : #384454;
    --background-bleu-gris-70 : rgba(56, 68, 84, 0.7) ;
    --background-bleu-gris-90 : rgba(56, 68, 84, 0.9) ;
    --bouton : #E1A624;
    --bouton-hover : #c32626;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;
    --text-gris-bleu : #384454 ;
    --text-jaune : #E1A624;
    --couleur-marron : #AD956B;
}

.conteneur-panier{
    width: 65%;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}
.titre-panier{
    margin-left: 50px;
    margin-top: 50px;
}
.panier-principale{
    display: flex;
    background-color: var(--background-bleu-gris);
    color: var(--text-blanc);
    margin-bottom : 30px;
    border-radius: 6px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
    font-size: 18px;
    height: auto;
}
/* TAILLE DE L'IMAGE PRINCIAPLE */
.panier-principale .imgPrincipale{
    width: 15vw;
    height: 38vh;
    margin: auto 15px;
    border-radius: 10px ;
    padding: 10px 0px;
}
/* DESCRIPTION A COTE DE L'IMAGE */

.info-panier{
    width: 100%;
    position: relative;
    height: 250px;
    margin: auto 5px;
}
.info-panier p{
    margin-left: 20px;
}

/* partie bouton + et - */
.buttonIncrementation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transition: transform 0.3s ease;
}
#iconDecrement{
    width: 2.5vw;
}
#iconIncrement{
    width: 3vw;
}
.buttonIncrementation img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.buttonIncrementation img:active{
    transform: translateY(2px);
}
.buttonIncrementation p{
    margin-left: 5px;
    font-size: 30px;
}

/* ICON SUPPRIMER */
.iconPoubelle{
    position: absolute;
    right: 5px;
    top:  -3vh;
    transition:  transform 0.3s ease;
    width: 2.2vw;
}
.iconPoubelle:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/* PARTIE TOTAL PANIER */
.total-panier{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: var(--text-jaune);
}


/* PARTIE RECAP */

.conteneur-recap{
    margin-right: 60px;
    width: 18%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    float: right;
    position: sticky;
    top: 0px;

}
.recap{
    display: flex;
    flex-direction: column;
    background-color: var(--background-bleu-gris);
    row-gap: 10px;
    padding: 10px;
    border-radius: 6px;
}
.recap div{
    display: flex;
    justify-content: space-around;
}
.recap button{
    width: 70%;
    background-color: var(--text-jaune);
    color: var(--text-gris-bleu);
    font-weight: 700;
    border-radius: 6px;
    font-size: 16px;
    margin: 10px auto 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition:  transform 0.3s ease , background-color 0.3s ease;
}
.recap button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #e2a010;
}
.recap button:active{
    transform: translateY(3px);
}
/* PARTIE INFO PAIEMENT */
.info-supp{
    background-color: var(--background-bleu-gris);
    color: var(--text-blanc);
    padding: 10px;
}
.imgStripe{
    width: 17vw;
}

/* RESPONSIVE PETIT ECRAN*/
@media screen and (min-width : 1024px) and (max-width: 1279px) {
    .panier-principale{
        height: 250px;
    }
    .conteneur-panier{
        width: 63%;
        float: left;
        margin-left: 5px;
        padding-right: 8px;
        margin-top: 15px;
    }
    .panier-principale .imgPrincipale{
        width: 160px;
        height: 190px;
        margin: 0;
        margin-left: 10px;
        padding: 10px 0px;
    }
    .buttonIncrementation{
        width: 30%;
        position: absolute;
        bottom: 0%;
        left: -40%;
    }
    .buttonIncrementation p{
        font-size: 30px !important;
    }
    #iconDecrement{
        width: 2.5vw;
    }
    #iconIncrement{
        width: 3.5vw;
    }
    .iconPoubelle{
        width: 3vw;
        right: -12.5vw;
        top: 1vh;
    }
    .info-panier{
        width: 50%;
        position: relative;
    }
    .info-panier p{
        font-size: 20px;
    }
    .total-panier{
        right: -11vw;
        bottom: 6%;
    }
    #nom-produit{
        margin-top: 10px;
    }
    #prix-unitaire{
        margin-top: 20px;
    }
    /* partie recap */
    .conteneur-recap{
        margin-right: 20px;
        margin-top: -50px;
        width: 30%;
        position: relative;
    }
    .recap *{
        font-size: 14px;
    }
    .recap button{
        width: 60%;
        font-size: 12px;
    }
    .imgStripe{
        width: 230px;
    }
}

/* RESPONSIVE TABLETTE */
@media screen and (min-width : 768px) and (max-width: 1023px) {
    .panier-principale{
        height: 200px;
    }
    .conteneur-panier{
        width: 65%;
        float: left;
        margin-left: 1px;
        padding-right: 8px;
        margin-top: 0px;
    }
    .panier-principale .imgPrincipale{
        width: 120px;
        height: 150px;
        margin: 0;
        margin-left: 10px;
        padding: 10px 0px;
    }
    .buttonIncrementation{
        width: 30%;
        position: absolute;
        bottom: 20%;
        left: -40%;
    }
    .buttonIncrementation p{
        font-size: 24px !important;
    }
    #iconDecrement{
        width: 3vw;
    }
    #iconIncrement{
        width: 4.3vw;
    }
    .iconPoubelle{
        width: 3vw;
        right: -12.5vw;
        top: 1vh;
    }
    .info-panier{
        width: 50%;
        position: relative;
        height: 250px;
        margin: auto 5px;
    }
    .info-panier p{
        font-size: 16px;
    }
    .total-panier{
        right: -11vw;
        bottom: 27%;
    }
    #nom-produit{
        line-height: 1.8rem;
        margin-top: 10px;
    }
    #prix-unitaire{
        margin-top: 20px;
    }
    /* partie recap */
    .conteneur-recap{
        margin-right: 20px;
        margin-top: -50px;
        width: 30%;
        position: relative;
    }
    .recap *{
        font-size: 14px;
    }
    .recap button{
        width: 60%;
        font-size: 12px;
    }
    .imgStripe{
        width: 200px;
    }
}


/* RESPONSIVE TELEPHONE */
@media screen and  (max-width: 767px) {
    .panier-principale{
        height: 200px;
    }
    .conteneur-panier{
        width: 100%;
        float: left;
        margin-left: 1px;
        padding-right: 8px;
        margin-top: 0px;
    }
    .panier-principale .imgPrincipale{
        width: 120px;
        height: 130px;
        margin: 0;
        margin-left: 10px;
        padding: 10px 0px;
    }
    .buttonIncrementation{
        width: 40%;
        position: absolute;
        bottom: 23%;
        left: -55%;
    }
    .buttonIncrementation p{
        font-size: 24px !important;
    }
    #iconDecrement{
        width: 4.5vw;
    }
    #iconIncrement{
        width: 6vw;
    }
    .iconPoubelle{
        width: 4vw;
        right: -14vw;
        top: 1vh;
    }
    .info-panier{
        width: 50%;
        position: relative;
        height: 250px;
        margin: auto 5px;
    }
    .info-panier p{
        font-size: 14px;
    }
    .total-panier{
        right: -9vw;
        bottom: 28%;
    }
    #nom-produit{
        line-height: 1.8rem;
        margin-top: 10px;
    }
    #prix-unitaire{
        margin-top: 20px;
    }
    /* partie recap */
    .conteneur-recap{
        margin-right: 20px;
        margin-top: 20px;
        width: 90%;
        position: relative;
    }
    .info-supp{
        margin-bottom: 50px;
    }
    .imgStripe{
        width: 280px;
    }
}

/* RESPONSIVE Galaxy Fold */
@media screen and (max-width: 300px) {
    .panier-principale{
        height: 180px;
    }
    .panier-principale .imgPrincipale{
        width: 100px;
        height: 130px;
    }
    .buttonIncrementation{
        bottom: 0%;
    }
    .buttonIncrementation p{
        font-size: 22px !important;
    }
    .iconPoubelle{
        width: 5vw;
        right: 0vw;
    }
    .info-panier{
        width: 60%;
        position: relative;
        height: 180px;
        margin: auto 5px;
    }
    .info-panier p{
        font-size: 12px;
    }
    .total-panier{
        right: 0vw;
        bottom: 0%;
    }
    /* partie recap */
    .conteneur-recap{
        margin-right: 15px;
        margin-top: 20px;
        width: 90%;
        position: relative;
    }
    .info-supp{
        margin-bottom: 50px;
    }
    .imgStripe{
        width: 200px;
    }
}


